#
# stripped down main.cf Postfix configuration with just the facts
#

#
# out-of-the-box default Postfix settings
#
queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
mail_owner = postfix
# inet_interfaces = localhost
inet_protocols = ipv4
# mydestination = $myhostname, localhost.$mydomain, localhost
unknown_local_recipient_reject_code = 550
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
debug_peer_level = 2
debugger_command =
   PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
   ddd $daemon_directory/$process_name $process_id & sleep 5
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
setgid_group = postdrop
html_directory = no
manpage_directory = /usr/share/man
sample_directory = /usr/share/doc/postfix-2.10.1/samples
readme_directory = /usr/share/doc/postfix-2.10.1/README_FILES

#
# our customizations to configure for outbound mail only from the localhost
#
soft_bounce = {{ postfix_soft_bounce }}
myhostname = {{ server_dns_name }}
myorigin = $mydomain
inet_interfaces = {{ postfix_inet_interfaces }}
mydestination = {{ postfix_mydestination }}
mynetworks_style = {{ postfix_mynetworks_style }}

{% if postfix_relayhost is defined %}
relayhost = {{ postfix_relayhost }}
{% endif %}