server {
{% if ssl_enabled %}
    listen          443 http2 ssl;
{% else %}
    listen          80;
{% endif %}
    server_name     {{ nginx_server_name }};

    root {{ web_root }};

    passenger_ruby '{{ passenger_app_ruby }}';
    rails_env {{ rails_env }};
    passenger_enabled on;
    passenger_preload_bundler on;

    location ~ ^/(assets|packs)/ {
        try_files $uri @fallback_assets;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    # Find assets in previous release folder (during rolling restarts).
    # It doesn't break if the "previous" folder is missing.
    location @fallback_assets {
        root {{ app_dir }}/previous/public;
        passenger_enabled off;
    }

    location /cable {
        passenger_app_group_name {{ app_name }}_{{ rails_env }}_action_cable;
        passenger_force_max_concurrent_requests_per_process 0;
{% if passenger_enterprise %}
        passenger_max_instances 2;
        passenger_max_request_time 0;
{% endif %}
        # If you use ActionCable, also set your passenger_core_file_descriptor_ulimit in the passenger.conf!
    }

{% if ssl_enabled %}
    ssl_certificate      '/etc/pki/tls/certs/{{ ssl_certificate_file }}';
    ssl_certificate_key  '/etc/pki/tls/private/{{ ssl_certificate_key_file }}';

    ssl_session_timeout  5m;

    ssl_protocols  TLSv1.2;
    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers   on;
{% endif %}

}
