upstream {{ app_name }}_app {
    # Path to Puma SOCK file, as defined previously
    server unix:{{ app_dir }}/puma.sock fail_timeout=0;
}

server {
{% if ssl_enabled %}
    listen          443 http2 ssl;
{% else %}
    listen          80;
{% endif %}
    server_name     {{ nginx_server_name }};

    root {{ web_root }};

    location ~ ^/(assets)/ {
        try_files $uri @fallback_assets;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    # Find assets in previous release folder (during rolling restarts).
    # It doesn't break if the "previous" folder is missing.
    location @fallback_assets {
        root {{ app_dir }}/previous/public;
    }

    try_files $uri/index.html $uri @{{ app_name }}_app;
    location @{{ app_name }}_app {
        proxy_pass http://{{ app_name }}_app;
        proxy_temp_path {{ app_dir }}/nginx_proxy_temp_dir;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header  X-Forwarded-Proto $scheme;
        proxy_set_header  X-Forwarded-Ssl on; # Optional
        proxy_set_header  X-Forwarded-Port $server_port;
        proxy_redirect off;
    }

    location /cable {
        # TODO: validate this setting with an app that uses ActionCable
        proxy_pass http://{{ app_name }}_app;
        proxy_http_version 1.1;
        proxy_set_header Upgrade "websocket";
        proxy_set_header Connection "Upgrade";
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

{% if ssl_enabled %}
    ssl_certificate      '/etc/pki/tls/certs/{{ ssl_certificate_file }}';
    ssl_certificate_key  '/etc/pki/tls/private/{{ ssl_certificate_key_file }}';

    ssl_session_timeout  5m;

    ssl_protocols  TLSv1.2;
    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers   on;
{% endif %}

}
