{{ app_dir }}/shared/log/*.log {
  daily
  rotate 10
  size 100M
  missingok
  notifempty
  copytruncate
  compress
  delaycompress
  create 0644 {{ app_user }} {{ app_user_group }}
  su {{ app_user }} {{ app_user }}
}